.spa-header {
  font-family: Helvetica, Arial, sans-serif;
}
h2 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 5vmin;
}
h3 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.nav-header {
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  padding: 10px;
  background-color: #fe6337;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
li {
  display: inline;
  font-size: calc(2vmin + 5px);
  margin: 10px;
  text-align: center;
  transition: 0.3s font-size linear;
}
li:hover {
  font-size: 15px;
  transition: 0.1s font-size linear;
}
.nav-footer {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.nav {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  display: flex;
  list-style-type: none;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
}
.myform {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 500px;
  margin: 2rem auto;
  border-radius: 5px;
  height: 700px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  width: 450px;
  background: #e7c5aa;
  text-align: center;
}

.form-f-name {
  margin: 10px;
  padding: 10px;
}

.form-l-name {
  margin: 10px;
  padding: 10px;
}

.form-postcode  {
  margin: 10px;
  padding: 10px;
}

.form-p-word  {
  margin: 10px;
  padding: 10px;
}

.form-email {
  margin: 10px;
  padding: 10px;
}

.form-submit {
  margin: 10px;
  padding: 10px;
}

.gender  {
  margin: 10px;
  padding: 10px;
}

.age {
  margin: 10px;
  padding: 10px;
}

.c-gender {
  margin: 10px;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #fe6337;
  color: azure;
}

input[type="submit"]:hover {
  background-color: #00bfff;
  font-weight: bold;
}
body {
  background: #fe6337;
}
a {
  color: azure;
}
@media only screen and (min-width: 600px) {
  .myform {
    display: block;
    width: 100%;
  }
}
